table {
  /*table-layout: fixed;*/
  width: 50%;
  border: 1px;
  border-style: solid;
  border-color: black;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

.buttonFrame {
  text-align: center;
  /*marign-left: auto;
  marign-right: auto;
  display: inline;*/
}
