/*
style of deyoo.github.io page
created by daeun yoo on 2023.04.26
*/

p{
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

table {
  width: 50%;
  border: 1px;
  border-style: solid;
  border-color: black;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

tr {
  border: 1px;
  border-style: solid;
  border-color: black;
  height: 30px;
}

td {
  border: 1px;
  border-style: solid;
  border-color: black;
}

.buttonFrame {
  text-align: center;
}

.customBtn {
  /*width: 100px;
  height: 20px;
  padding: 5px 20px;*/
  border: 2px solid #000;
  /*font-family: 'Lato', sans-serif;*/
  font-weight: 20;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.customBtn:after {
  position: absolute;
  /*content: " ";
  top: 0;
  left: 0;*/
  z-index: -1;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  /*-webkit-transform: scale(.1);*/
  transform: scale(.1);
}

.customBtn:hover {  
  color: white;
}
  
.customBtn:hover:after {  
  background: black;
  transform: scale(1);
}
  
